body {
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 70px;
    background: #FFF;
}

nav .navbar-brand {
    font-weight: 600 !important;
    font-size: 2.5em !important;
    color: #0E568C !important;
}

.navbar-toggler-icon svg {
    fill: #AEAEAE !important;
}


nav .navbar-nav a {
    font-size: 1em !important;
    color: #AEAEAE !important;
    font-weight: 500;
}

nav .navbar-nav a:hover {
    color: #0E568C !important;
}

nav .navbar-nav a:hover svg path {
    fill: #0E568C !important;
}

.navbar-nav .nav-item:nth-child(2) {
    margin: auto 20px;
}

#body-row {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
}

#sidebar-container {
    min-height: 100vh;
    padding: 0;
    background-color: #FFF !important;
}

.bg-light {
    background: #FFF !important;
}

.sidebar-expanded {
    width: 280px;
}

.sidebar-collapsed {
    width: 60px;
}

#sidebar-container a {
    height: 60px;
    border: none !important;
}

.list-group-item {
    border: none !important;
}

.sidebar-submenu {
    font-size: 0.9rem;
}

.sidebar-submenu a,
.sidebar-submenu .checkbox-item {
    height: 45px !important;
    padding-left: 30px;
}

.col {
    background: #FFF;
}